* {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.header{
    width: 100% !important;
    height: 80px !important;
}

.footer {
    width: 100% !important;
    height: 420px !important;
}

.box{
    height: 100px !important;
    width: 300px !important;
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: blue;
    padding-top: 20px;
    
}