* {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.footer {
    width: 100% !important;
    bottom: 0;
}

.header{
    width: 100% !important;
    height: 80px !important;
}

.gallery1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery1 img{
    width: 300px;
    height: 300px;
    border: 3px solid;
    margin: 120px 10px 20px 0;
    cursor: pointer;
}

.gallery1 img:hover{
    transform: scale(1.2);
}

/* .gallery1 h4{
 
} */

.gallery2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery2 img{
    width: 280px;
    height: 300px;
    border: 3px solid;
    margin: 120px 10px 20px 0;
    cursor: pointer;
}

.gallery2 img:hover{
    transform: scale(1.2);
}

/* .gallery2 h4{

} */

/* dispositivos chicos */
@media (max-width: 799px) {
    body{
        background-color: lightcoral;
    }
    h4 {
        font-size: 20px;
        display: flex;
        word-wrap: break-word;
    }
}

/*dispositivos grandes */
@media (min-width: 800px) { 
    body{
        background-color: lightblue;
    }
    h4 {
        display: flex;
        word-wrap: break-word;
    }
}
