* {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


div {
    text-align: left;
    padding: 0;
    margin: 0;
}

.Pregf {
    text-decoration: underline;
    text-align: center;
    margin: 15px;
    padding: 10px;
}

mark {
    background-color: rgba(122, 150, 0, 0.2);
}

img { /* solo usar con imagen "784836-gallery1034" */
    max-width: 25vw;
    height: auto;
    width: auto;
}

.footer {
    width: 100% !important;
    bottom: 0 !important;
}

.header{
    width: 100% !important;
    height: 80px !important;
}